$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-speak: "\e909";
$icon-bubble: "\e908";
$icon-dots: "\e906";
$icon-rocket: "\e90b";
$icon-planet: "\e90a";
$icon-build: "\e905";
$icon-map: "\e904";
$icon-buildings: "\e902";
$icon-hand: "\e907";
$icon-vehicles: "\e900";
$icon-close: "\e903";
$icon-ground: "\e901";

